input.form-control {
  height: 48px;
  font-size: 1rem;
  border-radius: 0;
  padding: 0.5rem 1rem;
}

.btn {
  height: 46px;
  min-width: 130px;
  font-size: 1rem;
}

::ng-deep .mat-header-cell,
::ng-deep .mat-cell {
  text-align: center !important;
  border: none !important;
  vertical-align: middle;
}

::ng-deep .mat-header-row {
  border-bottom: 1px solid #dee2e6 !important;
}

::ng-deep .mat-row {
  border-bottom: none !important;
}

::ng-deep .mat-header-cell {
  font-weight: bold;
  background-color: white !important;
}

.row-hover:hover {
  background-color: #c5c1c1;
  transition: background-color 0.2s ease-in-out;
}

.action-icon {
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;

  &:hover {
    transform: scale(1.2);
    opacity: 0.85;
  }
}
