input.form-control {
  height: 48px;
  font-size: 1rem;
  border-radius: 0;
  padding: 0.5rem 1rem;
}

.btn {
  height: 46px;
  min-width: 130px;
  font-size: 1rem;
}

::ng-deep .mat-header-cell,
::ng-deep .mat-cell {
  text-align: center !important;
  border: none !important;
  vertical-align: middle;
}

::ng-deep .mat-header-row {
  background-color: #343a40 !important; // cinza escuro tipo modal
  color: #fff !important;
  border-bottom: none !important;
}


::ng-deep .mat-row {
  border-bottom: none !important;
}

::ng-deep .mat-header-cell {
  font-weight: bold;
  color: #ffffff !important;
  background-color: #343a40 !important;
}


.row-hover:hover {
  background-color: #c5c1c1;
  transition: background-color 0.2s ease-in-out;
}

.action-icon {
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;

  &:hover {
    transform: scale(1.2);
    opacity: 0.85;
  }
}

.bi-eye-fill { color: #0d6efd; }     /* azul para visualizar */
.bi-pencil-fill { color: #ffc107; }  /* amarelo para editar */
.bi-power { color: #dc3545; }        /* vermelho para desativar */

.btn:active {
  transform: scale(0.98);
}

.bi-eye-fill     { color: #0d6efd !important; }   // azul vivo
.bi-pencil-fill  { color: #ffc107 !important; }   // amarelo vibrante
.bi-power        { color: #dc3545 !important; }   // vermelho forte

.action-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  font-size: 1.2rem;
  margin-top: 2px;

  &:hover {
    transform: scale(1.2);
    opacity: 0.85;
  }
}


td.mat-cell .action-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem; // opcional: deixa o ícone mais visível
  margin-top: 2px; // ajusta se quiser descer um pouco
}


